/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 64px auto;
    max-width: fit-content;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h2 {
    text-align: center;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    padding: 8px 0;
}

.button:hover {
    cursor: pointer;
}

.button:disabled {
    cursor: auto;
}